# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.svelte-kit/
package/
*.tsbuildinfo

# Testing
coverage/
*.lcov
.nyc_output
playwright-report/
test-results/
packages/testing/test-results-matrix/
blob-report/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.turbo/
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Misc
*.pem
.vercel
*.swp
*.swo
*~
.npmrc.local
.npmrc
.npmrc.backup
# Storybook
storybook-static/
*storybook.log

.playwright-mcp/
.tmp-tabs-restprops/
